{{ partial "header.html" . }}

<div class="content" role="main">

  <h1>Meet the Committee</h1>
  <div class="bios">
    <div class="bio">
      <img class="bio-image" src="/images/committee/sam.jpg">
      <h2>Sam Wilcocks</h2>
      <div class="bio-role">President</div>
      <p>
      Bio goes here.
      </p>
    </div>

    <div class="bio">
      <img class="bio-image" src="/images/committee/sean.jpg">
      <h2>Sean Duffy</h2>
      <div class="bio-role">Secretary</div>
      <p>
      Sean is a fourth year student studying Computer Science MEng.
      </p>
    </div>

    <div class="bio">
      <img class="bio-image" src="/images/committee/jashan.jpg">
      <h2>Jashan Bhoora</h2>
      <div class="bio-role">Treasurer</div>
      <p>
      Bio goes here.
      </p>
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
