{{ partial "header.html" . }}

<div class="content" role="main">

  <h1>Meet the Committee</h1>
  <div class="bios">
    <div class="bio">
      <img class="bio-image" src="/images/committee/sam.jpg">
      <h2>Sam Wilcocks</h2>
      <div class="bio-role">President</div>
      <p>
        Sam is the first president of DroneSoc, which he maintains seemed like a good idea at the time. When he's not flying he studies Computer Science, juggles a
        multitude of hare brained programming and electronics projects, and tries to keep the technology from exploding at <a href="https://ystv.co.uk">YSTV</a>. His favourite text editor is Vim, and he is a big fan of
        third person biographies.
      </p>
    </div>

    <div class="bio">
      <img class="bio-image" src="/images/committee/sean.jpg">
      <h2>Sean Duffy</h2>
      <div class="bio-role">Secretary</div>
      <p>
        Sean is a fourth year student studying Computer Science MEng. He became interested in drones a few years ago after
        watching videos by <a href="https://www.youtube.com/user/flitetest">Flite Test</a> and now owns a total of six quadcopters, three of which were self-built. You can see some of his drone-related adventures on his
        [YouTube Channel](https://www.youtube.com/channel/UC6WZ_1nNi4fiK7X7NN0_wBA).
      </p>
    </div>

    <div class="bio">
      <img class="bio-image" src="/images/committee/jashan.jpg">
      <h2>Jashan Bhoora</h2>
      <div class="bio-role">Treasurer</div>
      <p>
        Jashan is your treasurer. He is currently in his 4th year, studying Computer Science with Embedded Systems. He's had an interest in remote control stuff for a while, but only really got into it when he designed
        and built his first quadcopter a couple of years ago. He's interested in 3D printing (which is how he built his first quad!), and more generally anything that incorporates technology and moves... the latest example of
        this being Robot Wars, in which he was lucky enough to <a href="http://www.infernalcontraption.co.uk">participate in the new series</a>.
      </p>
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
