{{ partial "header.html" . }}

<div class="content" role="main">

  <h1>What is DroneSoc?</h1>
  <p>
    DroneSoc is a society at the University of York for people interested in flying or building drones! Everyone is welcome, whether you're a seasoned
    expert or a complete beginner.
  </p>
  <p>
    We aim to provide a way for enthusiasts to get together, have fun and share our knowledge.
  </p>
  <p>
    As a society we'll mostly be focusing on quadcopters, but we're definitely interested in exploring other kinds of drones, may they be air, land or even sea-based!
  </p>

  <div id="membership-button-container">
    <a href="http://www.yusu.org/groups/university-of-york-drone-society-dronesoc/" id="buy-membership">Click here to buy your membership!</a>
  </div>

  <h1>Interested? Sign up to our mailing list!</h1>
  <div id="mc-signup">
    <form action="//dronesoc.us13.list-manage.com/subscribe/post?u=9676b15692435738d0ca65e67&amp;id=60ac470493" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required="">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9676b15692435738d0ca65e67_60ac470493" tabindex="-1" value=""></div>
      <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>

</div>

{{ partial "footer.html" . }}
